//
//  Release.xcconfig
//  Night Owl
//
//  Created by Brian Vallelunga on 3/24/15.
//  Copyright (c) 2015 Brian Vallelunga. All rights reserved.
//

PARSE_APPLICATION_ID = do9I872HqE4J67MwcN1nu1QJ9K9pjGa2eQg95Tit
PARSE_CLIENT_KEY = 6Nev6Ru5wN1p9fhAWsYVWw7SFPEVDfyUKbDLJv3Y

STRIPE_CLIENT_KEY = pk_live_L5IldWkSrm5FdCv1oTc5x59j

BUILD_TYPE = release