//
//  Staging.xcconfig
//  Night Owl
//
//  Created by Brian Vallelunga on 3/27/15.
//  Copyright (c) 2015 Brian Vallelunga. All rights reserved.
//

PARSE_APPLICATION_ID = 4UfsnlgJvKhzuKxnM44Et4rJqqB16bKyQsfkDH1M
PARSE_CLIENT_KEY = z9ryEN9eBQazWxnFrob2xlQLcdWV8TiJbw9wv4PT

STRIPE_CLIENT_KEY = pk_test_CGHNSOCqTCmI1Gmng9hnBq9L

BUILD_TYPE = staging